Click==7.0
cookies==2.2.1
cryptography==2.6.1
dnspython==1.16.0
drumhat==0.1.0
entrypoints==0.3
enum34==1.1.6
envirophat==1.0.0
eventlet==0.25.1
ExplorerHAT==0.4.2
Flask==1.0.2
Flask-SocketIO==4.2.1
fourletterphat==0.1.0
funcsigs==1.0.2
gpiozero==1.5.1
greenlet==0.4.15
ipaddress==1.0.17
itsdangerous==0.24
Jinja2==2.10.1
MarkupSafe==1.1.0
numpy==1.16.2
oauthlib==2.1.0
olefile==0.46
pantilthat==0.0.7
pbr==4.2.0
phatbeat==0.1.1
picraft==1.0
pigpio==1.42
pyflakes==2.0.0
python-engineio==3.9.3
python-socketio==4.3.1
pyxdg==0.26
rainbowhat==0.1.0
requests==2.21.0
requests-oauthlib==1.0.0
responses==0.9.0
RPi.GPIO==0.6.5
RTIMULib==7.2.1
scrollphat==0.0.7
scrollphathd==1.2.1
SecretStorage==2.3.1
sense-emu==1.1
sense-hat==2.2.0
simplejson==3.16.0
six==1.12.0
skywriter==0.0.7
sn3218==1.2.7
urllib3==1.25.3
Werkzeug==0.15.6
